.heading{
    padding: 10px;
}
.mdl-layout__content{
    padding: 20px;
}
.mdl-layout__header-row{
    padding: 0px 0px 0px 20px !important;
    color: white;
}
a.mdl-navigation__link {
    color: white !important;
}
.mdl-layout__header-row {
    background: rgb(105,240,174);
}