.mdl-card__media {
    img {
        width: 100%;
        height: 170px;
    }
}

.mdl-cell {
    float: left;
}

.mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: initial;
    z-index: 1;
    position: relative;
    background: transparent;
    border-radius: 2px;
    box-sizing: border-box;
    transitio-webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    border: thin solid white;
    .mdl-card__title-text {
        color: white;
    }
    .mdl-card__supporting-text {
    color: white;
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}
    &:hover {}
}

.selected {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,69f0ae+99,258dc8+100 */
    background: #258dc8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #258dc8 0%, #69f0ae 99%, #258dc8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #258dc8 0%, #69f0ae 99%, #258dc8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #258dc8 0%, #69f0ae 99%, #258dc8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.brick {
    width: 200px;
}
.detail-alert {
    padding: 10px;
}