<div class="mdl-cell mdl-cell--4-col mdl-shadow--3dp" *ngFor="let rebel of rebels" id="rebel-{{rebel.id}}" (click)="onSelect(rebel)">
    <div class="mdl-card" [class.selected]="rebel === selectedRebel">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{rebel.name}}</h2>
        </div>
        <div class="mdl-card__media">
            <img src="{{rebel.image}}">
        </div>
        <div class="mdl-card__supporting-text">
            lorem ipsum
        </div>
    </div>
</div>